.calculator form {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: auto;
}

.calculator {
    width: 450px;
}

.calculator-varname {
    width: 150px;
    font-family: Menlo, 'Bitstream Vera Sans Mono', Consolas, monospace;
}

input[type=text], input[type=number] {
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    vertical-align: middle;
    padding-left: 1px;
}

input:invalid, textarea:invalid, select:invalid {
    color: #b94a48;
    border-color: #ee5f5b;
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    border-color: #e9322d;
    -webkit-box-shadow: 0 0 6px #f8b9b7;
    -moz-box-shadow: 0 0 6px #f8b9b7;
    box-shadow: 0 0 6px #f8b9b7;
}

.calculator-expression {
    font-size: 1.1em;
    height: 26px;
    margin-top: 5px;
    width: 340px;
    margin-left: 5px;
    font-family: Menlo, 'Bitstream Vera Sans Mono', Consolas, monospace;
}

.calculator-varval {
    width: 150px;
}

.calculator-parent {
    padding-left: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.calculator-varholder:nth-child(even) {
    background-color: #fafafa;
}

.calculator-result {
    background-color: #dff0d8;
    font-family: Helvetica;
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    width: 250px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    width: initial;
    margin-left: 5px;
    margin-right: 5px;
}

.calculator-result:empty {
    background-color: transparent;
}

.calculator-result.error {
    background-color: #F2DEDE;
}

.calculator p {
    padding: 0px;
    margin: 0px;
}

.calculator input[type=submit].btn {
    position: relative;
    right: -4px;
    top: 2px;
}

/* What follows is largely ripped out of Bootstrap. */

.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    color: #333333;
    background-color: #e6e6e6;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:active {
    color: #333333;
    background-color: #e6e6e6;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
}

.btn-small {
    padding: 2px 10px;
    font-size: 11.9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
